/*comment */

/* body {
    background-color: rgb(237, 248, 175);
    bg to green 
    color: rgb(17, 0, 95);
    opacity: .99;
    background-image: url(img/web_icon.jpg);
} */

body {
    margin:75px;
}
header {
    /* display: none; */
    background-color: rgb(251, 255, 0);
    border: rgb(251, 255, 0) solid 2px;
    border-radius: 15px; 
    padding: 10px 0px;
    height: 30%;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    /* cursor: pointer; */
}
